html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start */
body {
  max-width: 1280px;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
  width: 1280px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}

nav .title {
  width: 40%;
  padding-left: 40px;
  color: #131313;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul {
  width: 35%;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul li {
  display: inline-block;
  margin-left: 5%;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 3px;
  background: -webkit-gradient(linear, left top, right top, from(black), to(black)), -webkit-gradient(linear, left top, right top, from(white));
  background: linear-gradient(to right, black, black), linear-gradient(to right, white);
  background-size: 0 0.15em, 100% 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 400ms;
  transition: background-size 400ms;
}

nav ul li a:hover {
  background-size: 100% 0.15em, 0 0.1em;
}

nav .navbutton {
  width: 25%;
}

nav .navbutton button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background: #000000;
  color: white;
  border: white 0px solid;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 10px 15px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .navbutton button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.jumbotron {
  background-image: url(./assets/jumbotron.jpg);
  background-size: cover;
  background-position: 300px 0px;
  width: 1280px;
  height: 350px;
}

.jumbotron .content {
  padding: 40px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.jumbotron .content h2 {
  height: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.jumbotron .content p {
  height: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.jumbotron .content .button {
  height: 20%;
}

.jumbotron .content .button button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background: #000000;
  color: white;
  border: white 0px solid;
  padding: 12px 20px;
  margin-right: 30px;
}

.jumbotron .content .button button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main {
  width: 1280px;
  margin-top: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h2 {
  color: #131313;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.main .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.main .container .card img {
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .container .card h3 {
  height: auto;
  color: #131313;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .container .card .cardhover {
  position: absolute;
  height: 300px;
  width: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .card .cardhover p {
  height: 50%;
  line-height: 1.7;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .container .card .cardhover .card-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .card .cardhover .card-button a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background: #000000;
  color: white;
  padding: 10px 10px;
}

.main .container .card .cardhover .card-button a:hover {
  cursor: pointer;
}

.main .container .card .cardhover:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  width: 1280px;
}

.about img {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about div h2 {
  height: 20%;
  color: #131313;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.about div p {
  height: 70%;
  color: #131313;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  text-align: justify;
  text-indent: 50px;
  text-transform: capitalize;
}

.about div button {
  width: 40%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background: #000000;
  color: white;
  border: white 0px solid;
  padding: 12px 20px;
}

.contact {
  width: 1280px;
  padding: 50px;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000000;
}

.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact div h3 {
  width: 60%;
  color: #dddddd;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  height: 100%;
}

.contact div form input[type=text] {
  text-align: center;
  width: 80%;
  height: 50px;
  font-weight: bold;
  color: #dddddd;
  border: none;
  background: #000000;
  border: 1px solid #dddddd;
}

.contact div form input[type=submit] {
  width: 20%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: #000000;
  color: #dddddd;
  border: 1px solid #dddddd;
}

.contact div form input[type=submit]:hover {
  cursor: pointer;
  color: black;
  background: #dddddd;
}

footer {
  width: 1280px;
  height: 400px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h2 {
  height: 100px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

footer div {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer div .content {
  width: 40%;
  color: #dddddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: justify;
  text-indent: 50px;
  line-height: 1.5;
  text-transform: capitalize;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer div .footer-link {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin: 0 auto 0 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer div .footer-link ul li {
  margin: 0px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #dddddd;
  padding: 10px 0px;
}

footer div .footer-link ul li a {
  color: #dddddd;
  text-decoration: none;
}

footer div .footer-link ul li a:hover {
  opacity: 0.6;
}

footer .copyright {
  height: 100px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  width: 1280px;
  color: #dddddd;
  background-color: #000000;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */